@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Noto+Serif:wght@300&display=swap');

:root {
    --primary-color: #307F09;
    --secondary-color: #7A551F;
    --accent1-color: #FFCC01;
    --accent2-color: #090C9B;

    --heading-font: 'Geologica' sans-serif;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #7A551F;
    --nav-link-color: #FFCC01;
    --nav-hover-link-color:#090C9B;
    --nav-hover-background-color: #307F09;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
